.team {
  background-color: var(--secondary-bg-color);

  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  & h2 {
    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);

    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;     
    }
  }
  & h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);

    margin-bottom: 10px;
  }

  & p {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  & img {
    margin-bottom: 30px;
  }
  & .item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    text-align: center;
    // width: 270px;
    width: 100%;
    max-width: 450px;
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
  }
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-soc-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--acent-color);
    fill: var(--primary-white-color);
  }
}

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}
